<!-- 컴포넌트 좀 나눠야 함! -->
<div class="todo-list">
  <!-- https://angular.kr/guide/reactive-forms -->
  <!-- https://angular.io/guide/forms-overview -->
  <form>
    <div class="user-box">
      <input
        type="text"
        name=""
        required="true"
        [formControl]="newTodo"
        (keydown.enter)="addTodo($event)"
      />
      <label>todo 적으셈!</label>
      <button class="todo-add-btn" type="button" (click)="addTodo($event)">
        <span class="material-icons"> maps_ugc </span>
      </button>
    </div>
  </form>

  <div class="todo-list-box-container">
    <ul>
      <todo-list-item
        *ngFor="let item of getTodoList()"
        [todo]="item"
        (deleteEvent)="delTodo($event)"
        (updateStateEvent)="switchState($event)"
      ></todo-list-item>
    </ul>
  </div>
</div>
