<li *ngFor="let item of db.allTodos">
    <div (click)="updateState(item.id, item.state)">{{ item.todo }}</div>
    <div class="todo-box-right">
      <div *ngIf="item.state === 'Done'; then done; else none"></div>
    <ng-template #done>
        <span
        class="material-icons done"
        (click)="updateState(item.id, item.state)"
        >
        done
        </span>
    </ng-template>
    <ng-template #none>
        <span
        class="material-icons none"
        (click)="updateState(item.id, item.state)"
        >
        panorama_fish_eye
        </span>
    </ng-template>

    <button class="todo-del-button" (click)="delTodo(item.id)">
        <span class="material-icons clear-todo"> clear </span>
    </button>
    </div>
</li>